<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battcn.mapper.NumMapper">
  <resultMap id="BaseResultMap" type="com.battcn.entity.Num">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="merType" jdbcType="VARCHAR" property="mertype" />
    <result column="validTime" jdbcType="BIGINT" property="validtime" />
    <result column="levelLogo" jdbcType="VARCHAR" property="levellogo" />
    <result column="levelBCard" jdbcType="VARCHAR" property="levelbcard" />
    <result column="funcExplain" jdbcType="VARCHAR" property="funcexplain" />
    <result column="agentStatus" jdbcType="VARCHAR" property="agentstatus" />
    <result column="showOrNot" jdbcType="VARCHAR" property="showornot" />
    <result column="visitor" jdbcType="BIGINT" property="visitor" />
    <result column="vip" jdbcType="BIGINT" property="vip" />
    <result column="highVip" jdbcType="BIGINT" property="highvip" />
    <result column="channel" jdbcType="BIGINT" property="channel" />
    <result column="agent" jdbcType="BIGINT" property="agent" />
    <result column="area" jdbcType="BIGINT" property="area" />
    <result column="institution" jdbcType="BIGINT" property="institution" />
    <result column="appId" jdbcType="VARCHAR" property="appid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level, num, amount, payType, merType, validTime, levelLogo, levelBCard, funcExplain, 
    agentStatus, showOrNot, visitor, vip, highVip, channel, agent, area, institution, 
    appId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mp_num
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_mp_num
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.battcn.entity.Num">
    insert into t_mp_num (id, level, num, 
      amount, payType, merType, 
      validTime, levelLogo, levelBCard, 
      funcExplain, agentStatus, showOrNot, 
      visitor, vip, highVip, 
      channel, agent, area, 
      institution, appId)
    values (#{id,jdbcType=BIGINT}, #{level,jdbcType=VARCHAR}, #{num,jdbcType=BIGINT}, 
      #{amount,jdbcType=VARCHAR}, #{paytype,jdbcType=VARCHAR}, #{mertype,jdbcType=VARCHAR}, 
      #{validtime,jdbcType=BIGINT}, #{levellogo,jdbcType=VARCHAR}, #{levelbcard,jdbcType=VARCHAR}, 
      #{funcexplain,jdbcType=VARCHAR}, #{agentstatus,jdbcType=VARCHAR}, #{showornot,jdbcType=VARCHAR}, 
      #{visitor,jdbcType=BIGINT}, #{vip,jdbcType=BIGINT}, #{highvip,jdbcType=BIGINT}, 
      #{channel,jdbcType=BIGINT}, #{agent,jdbcType=BIGINT}, #{area,jdbcType=BIGINT}, 
      #{institution,jdbcType=BIGINT}, #{appid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.battcn.entity.Num">
    insert into t_mp_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="paytype != null">
        payType,
      </if>
      <if test="mertype != null">
        merType,
      </if>
      <if test="validtime != null">
        validTime,
      </if>
      <if test="levellogo != null">
        levelLogo,
      </if>
      <if test="levelbcard != null">
        levelBCard,
      </if>
      <if test="funcexplain != null">
        funcExplain,
      </if>
      <if test="agentstatus != null">
        agentStatus,
      </if>
      <if test="showornot != null">
        showOrNot,
      </if>
      <if test="visitor != null">
        visitor,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="highvip != null">
        highVip,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="agent != null">
        agent,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="institution != null">
        institution,
      </if>
      <if test="appid != null">
        appId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="mertype != null">
        #{mertype,jdbcType=VARCHAR},
      </if>
      <if test="validtime != null">
        #{validtime,jdbcType=BIGINT},
      </if>
      <if test="levellogo != null">
        #{levellogo,jdbcType=VARCHAR},
      </if>
      <if test="levelbcard != null">
        #{levelbcard,jdbcType=VARCHAR},
      </if>
      <if test="funcexplain != null">
        #{funcexplain,jdbcType=VARCHAR},
      </if>
      <if test="agentstatus != null">
        #{agentstatus,jdbcType=VARCHAR},
      </if>
      <if test="showornot != null">
        #{showornot,jdbcType=VARCHAR},
      </if>
      <if test="visitor != null">
        #{visitor,jdbcType=BIGINT},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=BIGINT},
      </if>
      <if test="highvip != null">
        #{highvip,jdbcType=BIGINT},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=BIGINT},
      </if>
      <if test="agent != null">
        #{agent,jdbcType=BIGINT},
      </if>
      <if test="area != null">
        #{area,jdbcType=BIGINT},
      </if>
      <if test="institution != null">
        #{institution,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.battcn.entity.Num">
    update t_mp_num
    <set>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="paytype != null">
        payType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="mertype != null">
        merType = #{mertype,jdbcType=VARCHAR},
      </if>
      <if test="validtime != null">
        validTime = #{validtime,jdbcType=BIGINT},
      </if>
      <if test="levellogo != null">
        levelLogo = #{levellogo,jdbcType=VARCHAR},
      </if>
      <if test="levelbcard != null">
        levelBCard = #{levelbcard,jdbcType=VARCHAR},
      </if>
      <if test="funcexplain != null">
        funcExplain = #{funcexplain,jdbcType=VARCHAR},
      </if>
      <if test="agentstatus != null">
        agentStatus = #{agentstatus,jdbcType=VARCHAR},
      </if>
      <if test="showornot != null">
        showOrNot = #{showornot,jdbcType=VARCHAR},
      </if>
      <if test="visitor != null">
        visitor = #{visitor,jdbcType=BIGINT},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=BIGINT},
      </if>
      <if test="highvip != null">
        highVip = #{highvip,jdbcType=BIGINT},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=BIGINT},
      </if>
      <if test="agent != null">
        agent = #{agent,jdbcType=BIGINT},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=BIGINT},
      </if>
      <if test="institution != null">
        institution = #{institution,jdbcType=BIGINT},
      </if>
      <if test="appid != null">
        appId = #{appid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.battcn.entity.Num">
    update t_mp_num
    set level = #{level,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT},
      amount = #{amount,jdbcType=VARCHAR},
      payType = #{paytype,jdbcType=VARCHAR},
      merType = #{mertype,jdbcType=VARCHAR},
      validTime = #{validtime,jdbcType=BIGINT},
      levelLogo = #{levellogo,jdbcType=VARCHAR},
      levelBCard = #{levelbcard,jdbcType=VARCHAR},
      funcExplain = #{funcexplain,jdbcType=VARCHAR},
      agentStatus = #{agentstatus,jdbcType=VARCHAR},
      showOrNot = #{showornot,jdbcType=VARCHAR},
      visitor = #{visitor,jdbcType=BIGINT},
      vip = #{vip,jdbcType=BIGINT},
      highVip = #{highvip,jdbcType=BIGINT},
      channel = #{channel,jdbcType=BIGINT},
      agent = #{agent,jdbcType=BIGINT},
      area = #{area,jdbcType=BIGINT},
      institution = #{institution,jdbcType=BIGINT},
      appId = #{appid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selects" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_mp_num
  </select>
  <select id="find" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_mp_num
    where agentStatus = #{agentlevel,jdbcType=VARCHAR}
  </select>
  <select id="finds" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_mp_num
    where merType = #{merType,jdbcType=VARCHAR}
  </select>
</mapper>